{
  "env": {
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "extends": ["standard", "plugin:vue/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "off",
    "indent": 2,
    "vue/max-attributes-per-line": "off",
    "space-before-function-paren": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/html-self-closing": "off",
    "vue/no-v-html": "off",
    "vue/v-slot-style": "off",
    "no-prototype-builtins": "off",
    "vue/multi-word-component-names": "off",
    "vue/no-multiple-template-root": "off",
    "vue/no-v-for-template-key": "off",
    "vue/valid-attribute-name": "off",
    "vue/no-reserved-component-names": "off",
    "no-throw-literal": "off",
    "camelcase": "off",
    "no-tabs": ["error", { "allowIndentationTabs": true }]
  }
}
