node_modules
public/hot
public/storage
public/cart_sessions
/vendor
.env
.env.prod
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
.php-cs-fixer.cache
.idea/
.rnd
.vscode/

storage/media-library
storage/logs
storage/app

### Webpack build files ###
public/mix-manifest.json
public/assets/resources

.vapor/
.env.production
.env.staging
