@import url('https://fonts.googleapis.com/css?family=Fira+Sans:600,400,700');
@import url('https://fonts.googleapis.com/css?family=Coiny:400,700');
@import url('https://fonts.googleapis.com/css?family=Barlow:500,400,700');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One:400');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900,400,700');
@import url('https://fonts.googleapis.com/css?family=Mulish:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400');
@import url('https://fonts.googleapis.com/css?family=Assistant:600,400,700');
@import url('https://fonts.googleapis.com/css?family=Heebo:500');
@import url('https://fonts.googleapis.com/css?family=Catamaran:600');
@import url('https://fonts.googleapis.com/css?family=Alata:400,700');
@import url('https://fonts.googleapis.com/css?family=Special+Elite:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:400');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import url('https://fonts.googleapis.com/css?family=Atma:400,700');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:400,700');
@import url('https://fonts.googleapis.com/css?family=Chewy:400,700');
@import url('https://fonts.googleapis.com/css?family=Audiowide:400,700');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:400,700');
@import url('https://fonts.googleapis.com/css?family=Calistoga:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,700');
@import url('https://fonts.googleapis.com/css?family=Solway:400,700');
@import url('https://fonts.googleapis.com/css?family=Volkhov:400,700');
@import url('https://fonts.googleapis.com/css?family=Princess+Sofia:400,700');
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower:400');
@import url('https://fonts.googleapis.com/css?family=Satisfy:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:800');
@import url('https://fonts.googleapis.com/css?family=Bevan:400,700');
@import url('https://fonts.googleapis.com/css?family=Patua+One:400');
@import url('https://fonts.googleapis.com/css?family=Heebo:800,400,700');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One:400,700');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great:400,700');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Sacramento:400,700');
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Parisienne:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico:400,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower:400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,700');
@import url('https://fonts.googleapis.com/css?family=Neuton:400');
@import url('https://fonts.googleapis.com/css?family=Eczar:600,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,700');
@import url('https://fonts.googleapis.com/css?family=Unica+One:400,700');
@import url('https://fonts.googleapis.com/css?family=Questrial:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Lato:400italic,400,700');
@import url('https://fonts.googleapis.com/css?family=Ruda:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round:400,700');
@import url('https://fonts.googleapis.com/css?family=Neuton:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface:400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
@import url('https://fonts.googleapis.com/css?family=Chivo:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
@import url('https://fonts.googleapis.com/css?family=Rosario:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker:400,700');
@import url('https://fonts.googleapis.com/css?family=Prata:400,700');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,700');
@import url('https://fonts.googleapis.com/css?family=Ovo:400,700');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One:400,700');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700');
@import url('https://fonts.googleapis.com/css?family=Anton:400,700');
@import url('https://fonts.googleapis.com/css?family=Patua+One:400,700');
@import url('https://fonts.googleapis.com/css?family=Shrikhand:400,700');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One:400,700');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:600,400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');
@import url('https://fonts.googleapis.com/css?family=Rufina:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

.ubuntu {
  font-family: 'Ubuntu' !important;
  font-weight: 700;
}
.lora {
  font-family: 'Lora' !important;
  font-weight: 400;
}
.roboto-condensed {
  font-family: 'Roboto Condensed' !important;
  font-weight: 700;
}
.roboto {
  font-family: 'Roboto' !important;
  font-weight: 700;
}
.cabin {
  font-family: 'Cabin' !important;
  font-weight: 400;
}
.pt-sans {
  font-family: 'PT Sans' !important;
  font-weight: 700;
}
.cinzel {
  font-family: 'Cinzel' !important;
  font-weight: 700;
}
.oswald {
  font-family: 'Oswald' !important;
  font-weight: 400;
}
.rufina {
  font-family: 'Rufina' !important;
  font-weight: 700;
}
.oswald-300 {
  font-family: 'Oswald' !important;
  font-weight: 300;
}
.playfair-display-black {
  font-family: 'Playfair Display Black' !important;
  font-weight: 800;
}
.libre-baskerville {
  font-family: 'Libre Baskerville' !important;
  font-weight: 700;
}
.catamaran {
  font-family: 'Catamaran' !important;
  font-weight: 600;
}
.bree-serif {
  font-family: 'Bree Serif' !important;
  font-weight: 400;
}
.alfa-slab-one {
  font-family: 'Alfa Slab One' !important;
  font-weight: 400;
}
.shrikhand {
  font-family: 'Shrikhand' !important;
  font-weight: 400;
}
.patua-one {
  font-family: 'Patua One' !important;
  font-weight: 400;
}
.anton {
  font-family: 'Anton' !important;
  font-weight: 400;
}
.domine {
  font-family: 'Domine' !important;
  font-weight: 400;
}
.merriweather-sans {
  font-family: 'Merriweather Sans' !important;
  font-weight: 400;
}
.cormorant-garamond {
  font-family: 'Cormorant Garamond' !important;
  font-weight: 700;
}
.old-standard-tt {
  font-family: 'Old Standard TT' !important;
  font-weight: 400;
}
.julius-sans-one {
  font-family: 'Julius Sans One' !important;
  font-weight: 400;
}
.ovo {
  font-family: 'Ovo' !important;
  font-weight: 400;
}
.cardo {
  font-family: 'Cardo' !important;
  font-weight: 400;
}
.prata {
  font-family: 'Prata' !important;
  font-weight: 400;
}
.permanent-marker {
  font-family: 'Permanent Marker' !important;
  font-weight: 400;
}
.source-sans-pro {
  font-family: 'Source Sans Pro' !important;
  font-weight: 400;
}
.montserrat {
  font-family: 'Montserrat' !important;
  font-weight: 400;
}
.source-serif-pro {
  font-family: 'Source Serif Pro' !important;
  font-weight: 400;
}
.rosario {
  font-family: 'Rosario' !important;
  font-weight: 400;
}
.arvo {
  font-family: 'Arvo' !important;
  font-weight: 400;
}
.work-sans {
  font-family: 'Work Sans' !important;
  font-weight: 300;
}
.nunito {
  font-family: 'Nunito' !important;
  font-weight: 300;
}
.source-sans-pro-800 {
  font-family: 'Source Sans Pro' !important;
  font-weight: 800;
}
.slabo {
  font-family: 'Slabo' !important;
  font-weight: 400;
}
.chivo {
  font-family: 'Chivo' !important;
  font-weight: 700;
}
.rubik {
  font-family: 'Rubik' !important;
  font-weight: 400;
}
.playfair-display {
  font-family: 'Playfair Display' !important;
  font-weight: 700;
}
.alegreya-sans {
  font-family: 'Alegreya Sans' !important;
  font-weight: 400;
}
.abril-fatface {
  font-family: 'Abril Fatface' !important;
  font-weight: 400;
}
.merriweather {
  font-family: 'Merriweather' !important;
  font-weight: 400;
}
.roboto-600 {
  font-family: 'Roboto' !important;
  font-weight: 600;
}
.neuton {
  font-family: 'Neuton' !important;
  font-weight: 400;
}
.varela-round {
  font-family: 'Varela Round' !important;
  font-weight: 400;
}
.roboto-slab {
  font-family: 'Roboto Slab' !important;
  font-weight: 400;
}
.playfair-display-400 {
  font-family: 'Playfair Display' !important;
  font-weight: 400;
}
.ruda {
  font-family: 'Ruda' !important;
  font-weight: 400;
}
.lato {
  font-family: 'Lato' !important;
  font-weight: 400;
}
.pt-sans-400 {
  font-family: 'PT Sans' !important;
  font-weight: 400;
}
.questrial {
  font-family: 'Questrial' !important;
  font-weight: 400;
}
.unica-one {
  font-family: 'Unica One' !important;
  font-weight: 400;
}
.vollkorn {
  font-family: 'Vollkorn' !important;
  font-weight: 400;
}
.overpass {
  font-family: 'Overpass' !important;
  font-weight: 400;
}
.dosis {
  font-family: 'Dosis' !important;
  font-weight: 400;
}
.raleway {
  font-family: 'Raleway' !important;
  font-weight: 300;
}
.eczar {
  font-family: 'Eczar' !important;
  font-weight: 600;
}
.neuton-400 {
  font-family: 'Neuton' !important;
  font-weight: 400;
}
.lobster-two {
  font-family: 'Lobster Two' !important;
  font-weight: 400;
}
.indie-flower {
  font-family: 'Indie Flower' !important;
  font-weight: 400;
}
.pacifico {
  font-family: 'Pacifico' !important;
  font-weight: 400;
}
.parisienne {
  font-family: 'Parisienne' !important;
  font-weight: 400;
}
.amatic-sc {
  font-family: 'Amatic SC' !important;
  font-weight: 400;
}
.petit-formal-script {
  font-family: 'Petit Formal Script' !important;
  font-weight: 400;
}
.sacramento {
  font-family: 'Sacramento' !important;
  font-weight: 400;
}
.dancing-script {
  font-family: 'Dancing Script' !important;
  font-weight: 400;
}
.fredericka-the-great {
  font-family: 'Fredericka the Great' !important;
  font-weight: 400;
}
.fredoka-one {
  font-family: 'Fredoka One' !important;
  font-weight: 400;
}
.heebo {
  font-family: 'Heebo' !important;
  font-weight: 800;
}
.patua-one-400 {
  font-family: 'Patua One' !important;
  font-weight: 400;
}
.bevan {
  font-family: 'Bevan' !important;
  font-weight: 400;
}
.montserrat-800 {
  font-family: 'Montserrat' !important;
  font-weight: 800;
}
.satisfy {
  font-family: 'Satisfy' !important;
  font-weight: 400;
}
.indie-flower-400 {
  font-family: 'Indie Flower' !important;
  font-weight: 400;
}
.caveat {
  font-family: 'Caveat' !important;
  font-weight: 400;
}
.princess-sofia {
  font-family: 'Princess Sofia' !important;
  font-weight: 400;
}
.volkhov {
  font-family: 'Volkhov' !important;
  font-weight: 400;
}
.solway {
  font-family: 'Solway' !important;
  font-weight: 400;
}
.frank-ruhl-libre {
  font-family: 'Frank Ruhl Libre' !important;
  font-weight: 400;
}
.lato-400 {
  font-family: 'Lato' !important;
  font-weight: 400;
}
.calistoga {
  font-family: 'Calistoga' !important;
  font-weight: 400;
}
.luckiest-guy {
  font-family: 'Luckiest Guy' !important;
  font-weight: 400;
}
.audiowide {
  font-family: 'Audiowide' !important;
  font-weight: 400;
}
.chewy {
  font-family: 'Chewy' !important;
  font-weight: 400;
}
.press-start-2p {
  font-family: 'Press Start 2P' !important;
  font-weight: 400;
}
.atma {
  font-family: 'Atma' !important;
  font-weight: 700;
}
.muli {
  font-family: 'Muli' !important;
  font-weight: 400;
}
.rubik-400 {
  font-family: 'Rubik' !important;
  font-weight: 400;
}
.josefin-sans {
  font-family: 'Josefin Sans' !important;
  font-weight: 400;
}
.special-elite {
  font-family: 'Special Elite' !important;
  font-weight: 400;
}
.alata {
  font-family: 'Alata' !important;
  font-weight: 400;
}
.catamaran-600 {
  font-family: 'Catamaran' !important;
  font-weight: 600;
}
.heebo-500 {
  font-family: 'Heebo' !important;
  font-weight: 500;
}
.assistant {
  font-family: 'Assistant' !important;
  font-weight: 600;
}
.oswald-400 {
  font-family: 'Oswald' !important;
  font-weight: 400;
}
.mulish {
  font-family: 'Mulish' !important;
  font-weight: 300;
}
.red-hat-display {
  font-family: 'Red Hat Display' !important;
  font-weight: 900;
}
.fredoka-one-400 {
  font-family: 'Fredoka One' !important;
  font-weight: 400;
}
.pt-sans-caption {
  font-family: 'PT Sans Caption' !important;
  font-weight: 700;
}
.red-hat-display-700 {
  font-family: 'Red Hat Display' !important;
  font-weight: 700;
}
.fira-sans {
  font-family: 'Fira Sans' !important;
  font-weight: 600;
}
.barlow {
  font-family: 'Barlow' !important;
  font-weight: 500;
}
.coiny {
  font-family: 'Coiny' !important;
  font-weight: 400;
}
