label {
  margin-bottom: 0;

  * {
    margin-bottom: 0 !important;
  }
}

.bz-form--textarea,
.bz-form--input {
  background-color: white !important;
}

.loader {
  position: relative;
  padding-left: 20px;

  &:after {
    content: '';
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 10px;
    top: calc(50% - 6px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
