.bz-pages-menu {
  .menu-item {
    font-weight: 300;
    color: var(--bz-footer-text-color) !important;
    font-size: 14px;
    margin-right: 24px;
    cursor: pointer;
  }
}

.site-map {
  text-decoration: underline;
  color: var(--bz-footer-text-color) !important;
  font-size: 14px;
  margin-left: 20px;
  font-weight: 300;
}
