// Body
$body-bg: #f5f8fa;

$accent-color: #3a58f9;

// Typography
$font-family-sans-serif: 'Raleway Regular', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$animated-button-color: #3a58f9;
